* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.des {
  display: none;
}
body {
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  background-repeat: no-repeat;
  padding: 14.8rem 2.4rem 9rem 2.4rem;
}
.main-div {
  border-radius: 23px;
  background: #fff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
  padding: 0 2.4rem 4.8rem 2.4rem;
}
.desktop-background-image {
  display: none;
}
.top-picture-mobile {
  width: 63%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  left: 6rem;
  top: -8rem;
}

.mobile-background {
  position: absolute;
  width: 63%;
  position: absolute;
  left: 6rem;
  top: 0rem;
}
.arrow-down {
  /* display: block; */
}
hr {
  background: #e8e8ea;
  height: 0.01rem;
}
.pictures-div {
  position: relative;
}
.texts-div {
  padding-top: 13.2rem;
}
.h1-class {
  color: #1e1f36;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 3.8rem;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p {
  display: none;
  color: #787887;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 150% */
  margin-bottom: 1.6rem;
}
.d {
  margin-top: 1.9rem;
  margin-bottom: 1.9rem;
}
span {
  color: #4b4c5f;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 90rem) {
  .mb {
    display: none;
  }
  .des {
    display: block;
  }
  body {
    padding: 12.9rem 23.9rem 13rem 28.1rem;
  }
  .desktop-background-image {
    width: 131%;
    position: absolute;
    top: -8rem;
    left: -16rem;
  }
  .desktop-main-picture {
    width: 100%;
    margin-left: -3.4rem;
  }
  .dzaghluka {
    display: block;
    display: block;
    position: absolute;
    top: 12rem;
    left: -9rem;
    z-index: 999;
  }
  .main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.5rem 9.5rem 8.3rem 0;
    overflow: hidden;
  }
  .texts-div {
    padding: 0;
    width: 43%;
  }
}
